<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Brick :: ${data.title}</title>
  </head>
  <body>
    <include("./partials/header")/>
    
    <h3>Hello, ${data.name}</h3>
    <p>You are ${data.age} years old.</p>

    <include("./partials/footer")/>

    $ console.log( "XXXXXXXXXXX" );
    $ console.log( 'bonk:', component.hash( '/client/scripts/app.js' ) );
    
    <await(path from component.hash('@@@FAKE@@@/client/scripts/app.js'))>
      $ console.log( "ABC: ", path );
      <script src="${path}"/>
    </await>
  </body>
</html>
